#taphouseFading {
	position:absolute;
	bottom:0; right:0%;
	height: 80px;
	width: 0;
	margin: 0 auto;
	background: red;
	z-index:5;
}

#burger,
#menu{
	/*margin-top:-41px;*/
	z-index: 1;
	display: none;
}
