/* line 61, ../src/css/_grid.sass */
.row {
  margin-top: 0.5rem;
  width: 90%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
/* line 68, ../src/css/_grid.sass */
.row .row {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-top: -0.5em;
}
.row.menu{
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
}
/* line 72, ../src/css/_grid.sass */
.row.narrow {
  width: 70%;
}
/* line 74, ../src/css/_grid.sass */
.row.nested {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-top: -0.5em;
}
/* line 78, ../src/css/_grid.sass */
.row.wide-fit {
  width: 100%;
  margin-left: -10px;
  margin-right: -10px;
}

/* line 82, ../src/css/_grid.sass */
.col {
  -ms-flex: 1 1 8%;
  -webkit-flex: 1 1 8%;
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 0.5em 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
 
  min-width: 200px;
}

/* line 91, ../src/css/_grid.sass */
.col-span-1 {
  flex-basis: 8.3333%;
  -ms-flex-preferred-size: 8.3333%;
}

/* line 94, ../src/css/_grid.sass */
.col-span-2 {
  flex-basis: 16.6666%;
  -ms-flex-preferred-size: 16.6666%;
}

/* line 97, ../src/css/_grid.sass */
.col-span-3 {
  flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
}

/* line 100, ../src/css/_grid.sass */
.col-span-4 {
  flex-basis: 33.3333%;
  -ms-flex-preferred-size: 33.3333%;
}

/* line 103, ../src/css/_grid.sass */
.col-span-5 {
  flex-basis: 41.6666%;
  -ms-flex-preferred-size: 41.6666%;
}

/* line 106, ../src/css/_grid.sass */
.col-span-6 {
  flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
}

/* line 109, ../src/css/_grid.sass */
.col-span-7 {
  flex-basis: 58.3333%;
  -ms-flex-preferred-size: 58.3333%;
}

/* line 112, ../src/css/_grid.sass */
.col-span-8 {
  flex-basis: 66.6666%;
  -ms-flex-preferred-size: 66.6666%;
}

/* line 115, ../src/css/_grid.sass */
.col-span-9 {
  flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
}

/* line 118, ../src/css/_grid.sass */
.col-span-10 {
  flex-basis: 83.3333%;
  -ms-flex-preferred-size: 83.3333%;
}

/* line 121, ../src/css/_grid.sass */
.col-span-11 {
  flex-basis: 91.6666%;
  -ms-flex-preferred-size: 91.6666%;
}

/* line 124, ../src/css/_grid.sass */
.col-span-12 {
  flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
}

@media all and (max-width: 568px) {
  /* line 128, ../src/css/_grid.sass */
  .col-span-1 {
    flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
  }

  /* line 131, ../src/css/_grid.sass */
  .col-span-2 {
    flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
  }

  /* line 134, ../src/css/_grid.sass */
  .col-span-3 {
    flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
  }

  /* line 137, ../src/css/_grid.sass */
  .col-span-4 {
    flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
  }

  /* line 140, ../src/css/_grid.sass */
  .col-span-5 {
    flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
  }

  /* line 143, ../src/css/_grid.sass */
  .col-span-6 {
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
  }

  /* line 146, ../src/css/_grid.sass */
  .col-span-7 {
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
  }

  /* line 149, ../src/css/_grid.sass */
  .col-span-8 {
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
  }

  /* line 152, ../src/css/_grid.sass */
  .col-span-9 {
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
  }

  /* line 155, ../src/css/_grid.sass */
  .col-span-10 {
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
  }

  /* line 158, ../src/css/_grid.sass */
  .col-span-11 {
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
  }

  /* line 161, ../src/css/_grid.sass */
  .nested .col {
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
  }
}
/* line 164, ../src/css/_grid.sass */
.center .col {
  flex-grow: 0;
  flex-shrink: 0;
}