@media(max-width:1050px) {
  .container.header h1{
    font-size: 40px;
  }

  .sticky{
    height: 70px;
  }

  .sticky #logo{
    height: 70px;
  }
}

@media(max-width:1000px) {
  .footer ul {
    margin-left: 0px;
    width: 200px;
  }

  .footer ul li:nth-child(2){
    margin-left: 4px;
    padding-left: 4px;
  }

  .footer ul li:nth-child(4){
    border-left: 0; 
    margin-left: -12px;
    padding-left: 0;
  }

  .footer ul li:nth-child(5){
    width: 45px;
  }

  .container p{
    font-size: 20px;
  }
}

@media(max-width:900px) {
  .sticky{
    height: 65px;
  }

  .sticky #logo{
    height: 65px;
  }
}

@media(max-width:860px) {
  .sticky{
    height: 55px;
  }

  .sticky #logo{
    height: 55px;
  } 
}

@media(max-width:820px) {
  /* line 2, ../src/css/_responsive.sass */
  .header .row {
    width: 100% !important;
  }

  .header ul li{
    padding: 10px;
  }

  .container.header h1{
    font-size: 30px;
  }


}

@media(max-width:730px) {
  /* line 7, ../src/css/_responsive.sass */
  .footer .row{
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }

  .footer .row *{
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }

  .footer ul {
    width: auto;
    margin-left: -30px;
    text-align: center;
  }

  .footer ul li:nth-child(2){
    margin-left: 3px;
    padding-left: 3px;
  }

  .footer ul li:nth-child(4){
    border-left: 2px solid #abafb2; 
    margin-left: 3px;
    padding-left: 3px;
  }

  .footer ul li:nth-child(5){
    width: auto;
  }

  .footer .row .address{
    text-align: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
  }

  .header ul li{
    padding: 8px;
  }

  .header ul *{
    font-size: 15px;
  }

  .container p{
    font-size: 15px;
  }
}

@media(max-width:650px) {
  /* line 7, ../src/css/_responsive.sass */
  .header ul{
    position: static;
    margin-left: -40px;
    margin-top: -80px;
  }
  .container.header h1{
    font-size: 20px;
  }

  .header_logo{
    height: 30px;
  }

  .container p{
    font-size: 12px;
  }
}
@media(max-width:510px) {
  .header ul li{
    padding: 5px;
  }

  .header ul *{
    font-size: 15px;
  }

  
}

@media(max-width:450px) {
  .sticky{
    height: 40px;
  }

  .sticky #logo{
    height: 40px;
  }
}