@media(max-width:650px) {
  .headerScroll #logoSmall{
        margin: -25px auto auto 20px;
    }

    .headerScroll #taphouse{
        margin: -48px 20px auto auto;
    }

    .headerScroll #menu{
        margin: 35px 20px auto auto;
    }

    .headerScroll #menu ul li{
      background: grey !important;
    }

    .headerScroll #burger{
        margin: -20px 20px auto auto;
    }
}

@media(max-width:600px) {
  /* line 7, ../src/css/_responsive.sass */
  .header ul *{
    font-size: 15px;
  }
}
@media(max-width:500px) {
  /* line 12, ../src/css/_responsive.sass */
  .header ul li:not(:first-child) {
    margin-left: 10px;
    padding-left: 10px;
  }
}
@media(max-width:450px) {
  /* line 17, ../src/css/_responsive.sass */
  .header ul *{
    font-size: 12px;
  }

  /* line 20, ../src/css/_responsive.sass */
  .header ul li:not(:first-child) {
    margin-left: 5px;
    padding-left: 5px;
  }
}